header {
    background-image: url(../images/bg.png);
}

.title {
    padding: 240px 0 270px 0;
}

.title h1 {
    font-size: 48px;
    color: #735440;
}

.title button {
    margin-top: 75px;
    width: 160px;
    height: 55px;
    background-color: #57984C;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 20px, 30px;
}

.title button:hover {
    background-color: #67b15a;
    transition: all 0.3s ease;
}
