.products {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 20px;
    background-color: #fff;
}

.vision {
    background-image: url('../images/Union.png');
    padding-top: 50px;
}

.vision__title {
    font-size: 64px;
}

.vision__text {
    font-size: 20px;
    padding-top: 20px;
}


.vision__img img {
    width: 100%;
    box-shadow: 14px 14px 8px 0px rgba(34, 60, 80, 0.06);
}

.vision__2 {
    padding: 100px 0;
}

#btn_sub {
    margin-bottom: 20px;
}